.popup__input-error {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #f00;
    min-width: 358px;
    min-height: 30px;
  }