.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    height: 75px;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        padding-top: 25px;
        height: 56px;
    }
}