.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 18px;
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    .elements {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 36px;
        gap: 20px;
    }
}