.popup__form_submit {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 37px;
    margin-top: 15px;
    padding: 14px 10px;
    text-align: center;
    justify-content: center;
}

.popup__form_submit:hover {
    cursor: pointer;
    opacity: 0.6;
}