.popup__save-button {
    width: 358px;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 13.66px 0 18.49px 0;
    border: none;
    transition: all .1s linear;
}

.popup__save-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        width: 100%;
    }
}