.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 430px;
  border-radius: 10px;
  width: 100%;
  padding: 0 36px;
  transition: 0.5s all;
}

@media screen and (max-width: 767px) {
  .popup__wrapper {
    max-width: 282px;
  }
}