.button_type_like {
    background-color: white;
    background-image: url(/image/Vector\ Stroke.png);
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 19px;
    min-width: 22px;
    border: 0;
}

.button_type_like.hover {
    opacity: 0.6;
    cursor: pointer;
}